<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link rel="icon" href="data:,">
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value=""  placeholder="Name">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>

                <section>
                    <strong>Form  Results:</strong>
                    <div id="results">
                        <div id="a"> Agreement</div>                                     
                        <div id="s"> Subjective</div>
                        <div id="c"> Confidence</div>
                        <div id="i"> Irony</div>
                        <div id="p">Polarity</div>
                        <strong>Main concepts</strong>
                        <div id='concepts'></div>
                    </div>
                </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
               window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
               });
            }
           </script>

    </body>
</html>
