body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}
#results{
    div{
        margin:5px;
        padding: 3px;
    }
    
    #concepts{
        float: left;
        
        span{
            margin:5px;
            padding:3px;
            background-color: aqua;
            display: inline-block;
        }
        
    }
}